:root {
  font-size: 10px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

  --color--primary--light: rgb(78, 190, 255);
  --color--primary--dark: rgb(35, 49, 85);
  --color--secondary--light: #6fe975;
  --color--secondary--dark: #113d63;

  --color--modal: rgba(255, 255, 255, 0.99);

  --color--modal--button: white;
  --color--modal--button-hover: rgb(245, 245, 245);
  --color--modal--button--outline: 0.15rem solid rgb(125, 125, 125);
  --color--modal--button--outline-hover: 0.15rem solid rgb(175, 175, 175);

  --color--container--prime: linear-gradient(
    to bottom right,
    rgba(245, 245, 245, 0.6),
    rgba(235, 235, 235, 0.8)
  );

  --color--card--natural: black;
  --color--card--text: rgb(233, 233, 233);

  --box--shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  --box--shadow--card: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* --box--shadow--card-hover: 5px 5px 20px rgba(0, 0, 0, 0.3); */
  --border-radius-soft-corner: 1.5rem;
}

/* #root {} */

.leaflet-container {
  z-index: 2;
  height: 100%;
  width: 100%;
}

.leaflet-popup {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #fdfdfd;
  position: relative;
  color: #5a5a5a;
  font-weight: 600;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-right: -1.15rem;
  padding-right: 0.6rem;
  z-index: 2;
  /* box-shadow: none; */
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.25rem;
}

.leaflet-popup .leaflet-popup-tip {
  z-index: 1;
  position: relative;
  background-color: white;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  border-left: 1rem solid var(--color--primary--dark);
}
